/***** Reddit NEWS STYLES *****/
#content ul#reddit-news {
  margin: 0;
  padding: 0;
}
#content ul#reddit-news li {
  list-style: none;
  position: relative;
  border-top: 1px solid #cdcdcd;
}
#content ul#reddit-news li .headline {
  font-size: 18px;
  margin: 0;
}
#content ul#reddit-news li img {
  max-width: 70px;
  max-height: 70px;
}
#content ul#reddit-news li .headline_href {
  margin-top: 20px;
  padding-left: 12px;
  position: absolute;
  color: black;
}
